#cloud-config
# vim: syntax=yaml
#
# ***********************
# 	---- for more examples look at: ------
# ---> https://cloudinit.readthedocs.io/en/latest/topics/examples.html
# ******************************
#
# This is the configuration syntax that the write_files module
# will know how to understand. encoding can be given b64 or gzip or (gz+b64).
# The content will be decoded accordingly and then written to the path that is
# provided.
#
# Note: Content strings here are truncated for example purposes.
ssh_pwauth: True
chpasswd:
  list: |
     root:sesamo
  expire: False

users:
  - name: simoncordova # Change me (nombre del dominio sin .com)
    ssh_authorized_keys:
      - ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQC3/gepBhHZ0grMAHBrJ+N0P9G/knj+w8Vlyg3MNuDsdlGxxyAmFas3kTipRZkB1y+75D/keWEcn/GbzwxfE0fsl2ic+7cjmgUh+z9DhmE3npZVlcWtQQExo4irq0a74QGL3YbeJd2Zo/Cz9evHI2/RiNh0ZwvcaqQeGA3UbsskyC0p4bdrI0m95O8pPYzPBcG9fls2zB3i4lmK5ChJwI8/AmoT47O5J97kUtx8DAexxB4CdgVwGxJi92wmCG2t+8QV9C5Ef7D+W62ecOPd8VZIAay6okN6bhgbfZJZgTIIE3p53iwljxfDMZfeFiYo6QBB9XgkGIPqjtKG7n4HdA+Ng4NH3ZiyvJjjB5SEiMUdksOM5Zm2HlSyl3WK3UNgWu3V1N+l4vHPXqMjMIUwWHULZnbgXlx1CxUaB0otarCt/A6wbb605xL1r1hG1o2exs1+8mkk05B9cLadhNAXCL+/pXYmhvcNQt+J2bwgCSzyvUK1UOzEiKnBkSZM07yVoYU= simon@simon-virtualbox
    sudo: ['ALL=(ALL) NOPASSWD:ALL']
    shell: /bin/bash
    groups: sudo
    lock_passwd: false
